### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [30]:
total = purchase_data["SN"].nunique()
total_df = pd.DataFrame({"Total Number of Players":[total]})
total_df.head()

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
unique_items = purchase_data["Item Name"].nunique()
avg_price = purchase_data["Price"].mean()
purchases = purchase_data.shape[0]
total_revenue = purchase_data["Price"].sum()

summary_df = pd.DataFrame({"Number of Unique Items" : [unique_items],
                          "Average Price" : avg_price,
                          "Number of Purchases" : purchases,
                          "Total Revenue" : total_revenue})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [66]:
gender_data = purchase_data.groupby("Gender")
gender_df = gender_data.nunique()
total_counts = gender_df["SN"]
gender_summary_df = pd.DataFrame({"Total Count" : total_counts, "Percentage" : total_counts/total})
gender_summary_df["Percentage"] =  gender_summary_df["Percentage"].map("{:.2%}".format)
gender_summary_df

                       Total Count Percentage
Gender
Female                          81     14.06%
Male                           484     84.03%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
purchase_count = gender_data["Purchase ID"].count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [99]:
avg_price = gender_data["Price"].mean()
avg_price =  avg_price.map("${:.2f}".format)
avg_price

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Price, dtype: object

In [101]:
total_revenue = gender_data["Price"].sum()
total_revenue =  total_revenue.map("${:.2f}".format)
total_revenue

Gender
Female                    $361.94
Male                     $1967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: object

In [102]:
purchase_per_person = gender_data["Price"].sum()/gender_data["SN"].nunique()
purchase_per_person =  purchase_per_person.map("${:.2f}".format)
purchase_per_person

Gender
Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
dtype: object

In [103]:
summary_gender_df = pd.DataFrame({"Purchase Count" : purchase_count,
                          "Average Purchase Price" : avg_price,
                          "Total Purchase Value" : total_revenue,
                          "Avg Total Purchase per Person" : purchase_per_person})
summary_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [128]:
print(purchase_data["Age"].max())

45

In [129]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_group = purchase_data.groupby("Age Group")

In [131]:
age_count = age_group["SN"].nunique()

In [133]:
age_percent = age_count/total
age_percent =  age_percent.map("{:.2%}".format)
summary_age = pd.DataFrame({"Total Count" : age_count,
                           "Percentage of Players" : age_percent})
summary_age

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [142]:
purchase_count_age = age_group["SN"].count()
avg_price_age = age_group["Price"].mean()
avg_price_age =  avg_price_age.map("${:.2f}".format)
total_revenue_age = age_group["Price"].sum()
total_revenue_age =  total_revenue_age.map("${:.2f}".format)
avg_price_person_age = age_group["Price"].sum()/age_group["SN"].nunique()
avg_price_person_age =  avg_price_person_age.map("${:.2f}".format)

summary_purchase_age = pd.DataFrame({"Purchase Count" : purchase_count_age,
                                    "Average Purchase Price" : avg_price_age,
                                    "Total Purchase Value" : total_revenue_age,
                                    "Avg Total Purchase per Person" : avg_price_person_age})
summary_purchase_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [155]:
top_spenders = purchase_data.groupby("SN")

In [156]:
top_purchase_count = top_spenders["Purchase ID"].count()
top_avg_price = top_spenders["Price"].mean()
top_total_purchase = top_spenders["Price"].sum()

top_avg_price =  top_avg_price.map("${:.2f}".format)
top_total_purchase =  top_total_purchase.map("${:.2f}".format)

top_spenders_df = pd.DataFrame({"Purchase Count" : top_purchase_count,
                               "Average Purchase Price" : top_avg_price,
                               "Total Purchase Value" : top_total_purchase})
top_spenders_df.sort_values(["Purchase Count"], ascending=False).head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [176]:
items_df = purchase_data.loc[:, ["Item ID", "Item Name", "Purchase ID", "Price"]]
most_popular = items_df.groupby(["Item ID", "Item Name"])

In [179]:
pop_purchase_count = most_popular["Item ID"].count()
pop_total_price = most_popular["Price"].sum()

most_popular_df = pd.DataFrame({"Purchase Count" : pop_purchase_count,
                               "Total Purchase Value" : pop_total_price})

most_popular_df.sort_values(["Purchase Count"], ascending=False)
most_popular_df.head(5)

                            Purchase Count  Total Purchase Value
Item ID Item Name
0       Splinter                         4                  5.12
1       Crucifer                         4                 11.77
2       Verdict                          6                 14.88
3       Phantomlight                     6                 14.94
4       Bloodlord's Fetish               5                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame